*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background: linear-gradient rgba( to top #fefefe, #000000, orange);
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-size: cover;
}
.card{
    /* background-color: aqua;
    background-image: red; */
    background-position: 1em;
    display:flex;
    backdrop-filter: blur(40px);

}
.heading{
    display: flex;
    flex-direction: row;
}
.Dev{
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #fefefe;
}
.nav{
    display: flex;
    border: 2px solid;
    flex-direction: row;
    width: auto;
    margin-left: 20px;
}
ul{
    display: flex;
    padding: 10px;
    margin-left: 100px;
    color: none;
}
li{
    color: ;
    height: 20px;

}

nav ul li{
    margin-right: 30px;
    padding: 10px 20px;
}
